* {
  font-size: 1.3rem;
}

#calculator {
  margin: 10px 30%;
  background-color: rgb(34, 34, 34);
}

#display {
  color: white;
  text-align: right;
  padding: 20px;
}

button {
  background-color: rgb(102, 102, 102);
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgb(34, 34, 34);
}

.operator {
  background-color: rgb(255, 140, 0);
}

#equals {
  margin: 0px 20px 20px 20px;
  color: black;
  background-color: rgb(204, 204, 204);
  border-radius: 50px;
}
